In [1]:
import pandas as pd
from geotext import GeoText
import numpy as np

In [2]:
df = pd.read_csv('omni.csv')

/Users/murielhol/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Source 1:  the desciption in the dataset itself

In [3]:
cities_description, countries_description = [], []
from collections import Counter

In [4]:
for i, row in df.iterrows():
    text = row.description
    if text and not str(text)=='nan':
        text = text.title().replace(' ', ', ')
        gt = GeoText(text)
        try:
            cit = Counter([ c for c in gt.cities if not c in ['Of', 'Man', 'Same', 'Much', 'Date', 'Most', 'Van']]).most_common(1)[0][0]
            cou = Counter([r for r in gt.country_mentions if not r == 'TR' ]).most_common(1)[0][0]
            cities_description.append(cit)
            countries_description.append(cou)
        except:
            cities_description.append('')
            countries_description.append('')
    else:
        cities_description.append('')
        countries_description.append('')

In [5]:
print(cities_description[:100])

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'London', '', '', 'Chicago', '', '', '', '', '', '', '', '', '', 'Roman', '', '', 'Young', 'Alexandria', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Hemet', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

## source 2: wikipedia crawls

In [6]:
df_ = df.copy().drop_duplicates(subset='artist_full_name')
full_names = list(df_.artist_full_name)
first_names = list(df_.artist_first_name)
last_names = list(df_.artist_last_name)

In [7]:
print(len(df), len(df_))

241634 57297

In [8]:
e = 0
cities_wiki, countries_wiki, wiki_match_artists = [], [], []
wiki = pd.read_csv('wikipedia_locations.csv')
for i in range(len(last_names)):
    check = False
    try:
        full_name = full_names[i]
        name = last_names[i]
        name = str(name).replace('(',"").replace(')', "").replace('[',"").replace(']', "").split()
        first_name = first_names[i]
        first_name = str(first_name).replace('(',"").replace(')', "").replace('[',"").replace(']', "").split()
        # reduce the search in 3 steps

        if len(name[-1])>1:
            this_df = wiki[wiki['artist'].str.contains(name[-1], regex=False, case=False)]
            check=True
    #             if len(this_df)>0:
    #                 print(name[-1], full_name)
    #                 print(this_df)
    #                 print('\n \n \n')


        if len(name[0])>1:
            check=True
            this_df = this_df[this_df['artist'].str.contains(name[-0], case=False, regex=False)]


        if len(first_name[0])>1:
            check=True
            this_df = this_df[this_df['artist'].str.contains(first_name[0], case=False, regex=False)]

        if check and len(this_df)>1 and len(this_df)<10:
            options = [a.replace('-', ' ') for a in this_df.artist]
            scores = [int(a.strip()==full_name.strip()) for a in options]
            if 1 in scores:
                best = np.amax(scores)
                this_df = this_df.iloc[best]

        if len(this_df)==1:
            wiki_match_artists.append(full_names[i])
            cities_wiki.append(list(this_df.city.values))
            countries_wiki.append(list(this_df.country.values))    
    


    except:
        e+=1
        pass
    
print('fails:', e)

fails: 0

In [9]:
df_wiki = pd.DataFrame({'artist': wiki_match_artists, 'country':countries_wiki, 'city':cities_wiki})

In [10]:
print(df_wiki.head(20))
print(len(df_wiki))

                    artist            city country
0          wyndham lewis         [Amherst]    [CA]
1           rudolf bauer             [nan]    [PL]
2   james mcneill whistler        [Lowell]    [US]
3        morton shamberg    [Philadelphia]    [US]
4              paul klee             [nan]    [CH]
5       kazimir malevich            [Kiev]    [RU]
6      wassily kandinsky          [Moscow]    [US]
7        robert delaunay           [Paris]    [US]
8       carl buchheister         [Hanover]    [DE]
9        kurt schwitters         [Hanover]    [US]
10          andre masson           [Lille]    [FR]
11    sophie taeuber-arp             [nan]    [CH]
12           anni albers          [Berlin]    [DE]
13            vija celmins          [Riga]    [LV]
14         gerhard richter       [Dresden]    [DE]
15            lucian freud        [Berlin]    [DE]
16            stuart davis  [Philadelphia]    [US]
17        marcel duchamp             [nan]    [FR]
18       francis picabia           [Paris]    [US]
19              jean arp      [Strasbourg]    [FR]
1237

## source 3: The RDF dbpedia queries

In [11]:
pedia = pd.read_csv('dbpedia_locations.csv').drop_duplicates(subset=['artist'])

In [12]:
cities_pedia, countries_pedia, pedia_match_artists = [], [], []
for i in range(len(last_names)):
    check = False
    try:
        full_name = full_names[i]
        name = last_names[i]
        name = str(name).replace('(',"").replace(')', "").replace('[',"").replace(']', "").split()
        first_name = first_names[i]
        first_name = str(first_name).replace('(',"").replace(')', "").replace('[',"").replace(']', "").split()
        # reduce the search in 3 steps
        
        if len(name[-1])>1:
            this_df = pedia[pedia['artist'].str.contains(name[-1], regex=False, case=False)]
            check=True
#             if len(this_df)>0:
#                 print(name[-1], full_name)
#                 print(this_df)
#                 print('\n \n \n')
                
        
        if len(name[0])>1:
            check=True
            this_df = this_df[this_df['artist'].str.contains(name[-0], case=False, regex=False)]

        
        if len(first_name[0])>1:
            check=True
            this_df = this_df[this_df['artist'].str.contains(first_name[0], case=False, regex=False)]


        if len(this_df)==1:
            pedia_match_artists.append(full_names[i])
            cities_pedia.append(list(this_df.city.values))
            countries_pedia.append(list(this_df.country.values))    

    except:
        e+=1
        pass
print('fails:', e)

fails: 0

In [13]:
df_pedia = pd.DataFrame({'artist': pedia_match_artists, 'country':countries_pedia, 'city':cities_pedia})

In [14]:
print(df_pedia.head())

                artist          city   country
0  wassily kandinsky        [Moscow]      [US]
1         franz marc        [Munich]      [DE]
2        pablo picasso      [M?laga]  [M?laga]
3       martin puryear  [Washington]      [US]
4          max kozloff     [Chicago]      [US]

## Combine : 
- First see if the wiki and dbpedia match in country
    - if so: accept country
    - if not: check if they match city

In [15]:
full_names_all = list(df.artist_full_name)

In [16]:
countries, cities, artists = [], [], []

cw, cwp, cpd, cwd, cp, cd = 0,0,0,0,0,0

for i in range(len(full_names_all)):
    fn = full_names_all[i]
    wiki = df_wiki[df_wiki.artist==fn]
    pedia = df_pedia[df_pedia.artist==fn]
    
    # countries
    if len(wiki)>0 and len(pedia)>0:
        if str(wiki.country.values[0][0]) == str(pedia.country.values[0][0]):
            countries.append(wiki.country.values[0][0])
            cwp+=1
        elif str(wiki.country.values[0][0]) in countries_description[i]:
            countries.append(wiki.country.values[0][0])
            cwd+=1
        elif str(pedia.country.values[0][0]) in countries_description[i]:
            countries.append(pedia.country.values[0][0])
            cpd+=1
        else:
            countries.append(wiki.country.values[0][0])
            cw+=1
    elif len(wiki)>0:
        cw+=1
        countries.append(wiki.country.values[0][0])
    elif len(pedia)>0:
        cp+=1
        countries.append(pedia.country.values[0][0])
    elif len(countries_description[i])>0:
        cd+=1
        countries.append(countries_description[i])
    else:
        countries.append('')
        
        
    # cities
    if len(wiki)>0 and len(pedia)>0:
        if str(wiki.city.values[0][0]) == str(pedia.city.values[0][0]):
            cities.append(wiki.city.values[0][0])
            cwp+=1
        elif str(wiki.city.values[0][0]) in str(cities_description[i]):
            cities.append(wiki.city.values[0][0])
            cwd+=1
        elif str(pedia.city.values[0][0]) in cities_description[i]:
            cities.append(pedia.city.values[0][0])
            cpd+=1
        else:
            cities.append(wiki.city.values[0][0])
            cw+=1
    elif len(wiki)>0:
        cw+=1
        cities.append(wiki.city.values[0][0])
    elif len(pedia)>0:
        cp+=1
        cities.append(pedia.city.values[0][0])
    elif len(cities_description[i])>0:
        cd+=1
        cities.append(cities_description[i])
    else:
        cities.append('')
        
print('cw, cwp, cpd, cwd, cp, cd')
print(cw, cwp, cpd, cwd, cp, cd)

cw, cwp, cpd, cwd, cp, cd
39762 2027 5 0 6004 534

In [31]:
df['country'] = countries

In [18]:
df['city'] = cities

In [44]:
df.city[100:120]

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
Name: city, dtype: object

In [51]:
df_nc = df[df.city!='']
df_nc = df_nc[df_nc.country!='']

In [52]:
print(len(df), len(df_nc))

241634 24166

In [54]:
print(df_nc.country[:10])

15    CA
16    CA
18    PL
19    US
20    US
22    US
24    US
32    RO
35    UY
36    IT
Name: country, dtype: object

In [60]:
import time
cities = df_nc.city
countries = df_nc.country
long, lat = [], []
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
N = len(countries)
for i in range(N):
    try:
        location = geolocator.geocode(cities[i]+' , '+countries[i])
        lat.append(location.latitude)
        long.append(location.longitude)
    except:
        lat.append('')
        long.append('')
        
    if i%100==0:
        print(i/N)
        time.sleep(100)

0.0
0.004138045187453447
0.008276090374906894
0.01241413556236034
0.016552180749813787
0.020690225937267236
0.02482827112472068
0.02896631631217413
0.033104361499627574
0.03724240668708102
0.04138045187453447
0.04551849706198792
0.04965654224944136
0.05379458743689481
0.05793263262434826
0.06207067781180171
0.06620872299925515
0.0703467681867086
0.07448481337416205
0.0786228585616155
0.08276090374906894
0.08689894893652239
0.09103699412397584
0.09517503931142927
0.09931308449888272
0.10345112968633617
0.10758917487378962
0.11172722006124307
0.11586526524869652
0.12000331043614997
0.12414135562360341
0.12827940081105685
0.1324174459985103
0.13655549118596375
0.1406935363734172
0.14483158156087064
0.1489696267483241
0.15310767193577754
0.157245717123231
0.16138376231068444
0.16552180749813789
0.16965985268559133
0.17379789787304478
0.17793594306049823
0.18207398824795168
0.18621203343540513
0.19035007862285855
0.194488123810312
0.19862616899776545
0.2027642141852189
0.20690225937267234
0.2110403045601258
0.21517834974757924
0.2193163949350327
0.22345444012248614
0.22759248530993959
0.23173053049739303
0.23586857568484648
0.24000662087229993
0.24414466605975338
0.24828271124720683
0.2524207564346603
0.2565588016221137
0.2606968468095672
0.2648348919970206
0.26897293718447407
0.2731109823719275
0.27724902755938097
0.2813870727468344
0.28552511793428786
0.2896631631217413
0.29380120830919476
0.2979392534966482
0.3020772986841016
0.3062153438715551
0.3103533890590085
0.314491434246462
0.3186294794339154
0.3227675246213689
0.3269055698088223
0.33104361499627577
0.3351816601837292
0.33931970537118267
0.3434577505586361
0.34759579574608956
0.351733840933543
0.35587188612099646
0.3600099313084499
0.36414797649590336
0.3682860216833568
0.37242406687081026
0.3765621120582637
0.3807001572457171
0.3848382024331706
0.388976247620624
0.39311429280807747
0.3972523379955309
0.40139038318298437
0.4055284283704378
0.40966647355789126
0.4138045187453447
0.41794256393279816
0.4220806091202516
0.42621865430770506
0.4303566994951585
0.43449474468261196
0.4386327898700654
0.44277083505751885
0.4469088802449723
0.45104692543242575
0.45518497061987917
0.4593230158073326
0.46346106099478607
0.4675991061822395
0.47173715136969296
0.4758751965571464
0.48001324174459986
0.4841512869320533
0.48828933211950676
0.4924273773069602
0.49656542249441366
0.5007034676818671
0.5048415128693206
0.508979558056774
0.5131176032442274
0.5172556484316809
0.5213936936191343
0.5255317388065878
0.5296697839940412
0.5338078291814946
0.5379458743689481
0.5420839195564016
0.546221964743855
0.5503600099313084
0.5544980551187619
0.5586361003062154
0.5627741454936688
0.5669121906811222
0.5710502358685757
0.5751882810560291
0.5793263262434826
0.583464371430936
0.5876024166183895
0.5917404618058429
0.5958785069932964
0.6000165521807498
0.6041545973682032
0.6082926425556567
0.6124306877431102
0.6165687329305636
0.620706778118017
0.6248448233054705
0.628982868492924
0.6331209136803774
0.6372589588678308
0.6413970040552843
0.6455350492427377
0.6496730944301912
0.6538111396176446
0.6579491848050981
0.6620872299925515
0.666225275180005
0.6703633203674584
0.6745013655549119
0.6786394107423653
0.6827774559298188
0.6869155011172722
0.6910535463047256
0.6951915914921791
0.6993296366796325
0.703467681867086
0.7076057270545394
0.7117437722419929
0.7158818174294463
0.7200198626168998
0.7241579078043532
0.7282959529918067
0.7324339981792601
0.7365720433667136
0.740710088554167
0.7448481337416205
0.7489861789290739
0.7531242241165274
0.7572622693039808
0.7614003144914342
0.7655383596788877
0.7696764048663411
0.7738144500537946
0.777952495241248
0.7820905404287015
0.7862285856161549
0.7903666308036084
0.7945046759910618
0.7986427211785153
0.8027807663659687
0.8069188115534222
0.8110568567408756
0.8151949019283291
0.8193329471157825
0.823470992303236
0.8276090374906894
0.8317470826781428
0.8358851278655963
0.8400231730530497
0.8441612182405032
0.8482992634279566
0.8524373086154101
0.8565753538028635
0.860713398990317
0.8648514441777704
0.8689894893652239
0.8731275345526773
0.8772655797401308
0.8814036249275842
0.8855416701150377
0.8896797153024911
0.8938177604899445
0.897955805677398
0.9020938508648515
0.9062318960523049
0.9103699412397583
0.9145079864272118
0.9186460316146652
0.9227840768021187
0.9269221219895721
0.9310601671770256
0.935198212364479
0.9393362575519325
0.9434743027393859
0.9476123479268393
0.9517503931142928
0.9558884383017463
0.9600264834891997
0.9641645286766531
0.9683025738641066
0.9724406190515601
0.9765786642390135
0.9807167094264669
0.9848547546139204
0.9889927998013738
0.9931308449888273
0.9972688901762807

In [63]:
df_nc['long'] = long
df_nc['lat'] = lat

In [ ]:
df_nc

In [64]:
print(len(df_nc[df_nc.lat!='']))

10425

In [65]:
print(len(df_nc))

24166

In [66]:
last_df = df_nc[df_nc.lat!='']

In [85]:
final = last_df.copy()

In [86]:
eg = geolocator.geocode('Egypt, Caïro ')
ro = geolocator.geocode('Italy, Rome')
gr = geolocator.geocode('Greek, Athene')

In [92]:
final.loc[final.artist_last_name=='roman', 'country'] =  'IT'
final.loc[final.artist_last_name=='roman', 'city'] =  'Rome'
final.loc[final.artist_last_name=='roman', 'long'] =  ro.longitude
final.loc[final.artist_last_name=='roman', 'lat'] =  ro.latitude


final.loc[final.artist_last_name=='greek', 'country'] =  'GR'
final.loc[final.artist_last_name=='greek', 'city'] =  'Athene'
final.loc[final.artist_last_name=='greek', 'long'] =  gr.longitude
final.loc[final.artist_last_name=='greek', 'lat'] =  gr.latitude


final.loc[final.artist_last_name=='egyptian', 'country'] =  'EG'
final.loc[final.artist_last_name=='egyptian', 'city'] =  'Caïro'
final.loc[final.artist_last_name=='egyptian', 'long'] =  eg.longitude
final.loc[final.artist_last_name=='egyptian', 'lat'] =  eg.latitude

In [93]:
print(final.tail(100)[['artist_last_name',  'country']])

         artist_last_name                     country
241205     adrian-nilsson                          SE
241207         baumeister                          DE
241210         baumeister                          DE
241214           van gogh                          NL
241215         servranckx                          BE
241220              roman                          IT
241221              roman                          IT
241222              roman                          IT
241223       lloyd wright  Richland Center, Wisconsin
241226              roman                          IT
241227       lloyd wright  Richland Center, Wisconsin
241228              weese                          US
241230       lloyd wright  Richland Center, Wisconsin
241231       lloyd wright  Richland Center, Wisconsin
241234       lloyd wright  Richland Center, Wisconsin
241235       lloyd wright  Richland Center, Wisconsin
241240       lloyd wright  Richland Center, Wisconsin
241241       lloyd wright  Richland Center, Wisconsin
241242       lloyd wright  Richland Center, Wisconsin
241243       lloyd wright  Richland Center, Wisconsin
241252           tigerman                          US
241253       lloyd wright  Richland Center, Wisconsin
241254       lloyd wright  Richland Center, Wisconsin
241255       lloyd wright  Richland Center, Wisconsin
241256       lloyd wright  Richland Center, Wisconsin
241257       lloyd wright  Richland Center, Wisconsin
241259       lloyd wright  Richland Center, Wisconsin
241260       lloyd wright  Richland Center, Wisconsin
241261       lloyd wright  Richland Center, Wisconsin
241266       lloyd wright  Richland Center, Wisconsin
...                   ...                         ...
241380              roman                          IT
241384  mies van der rohe               German Empire
241392  mies van der rohe               German Empire
241398  mies van der rohe               German Empire
241399  mies van der rohe               German Empire
241400  mies van der rohe               German Empire
241405  mies van der rohe               German Empire
241406  mies van der rohe               German Empire
241409  mies van der rohe               German Empire
241410  mies van der rohe               German Empire
241413  mies van der rohe               German Empire
241414  mies van der rohe               German Empire
241415  mies van der rohe               German Empire
241416  mies van der rohe               German Empire
241417  mies van der rohe               German Empire
241418  mies van der rohe               German Empire
241419  mies van der rohe               German Empire
241507           egyptian                          EG
241512           egyptian                          EG
241548              greek                          GR
241551              greek                          GR
241556            picabia                          US
241557            picabia                          US
241558              macke                          DE
241562          eggleston                          US
241570          eggleston                          US
241571          eggleston                          US
241605              roman                          IT
241609             masson                          FR
241610             masson                          FR

[100 rows x 2 columns]

In [94]:
final.to_csv('omni_locations.csv')

In [95]:
cols = final.columns

In [98]:
for col in cols:
    print(col, len(set(final[col])))

Unnamed: 0 10425
omni_id 10425
artwork_name 7091
artist_full_name 1327
artist_first_name 906
artist_last_name 1242
date 536
century 15
source_url 7279
image_url 8079
general_type 72
genre 109
school 55
palette_families 337
palette 8074
geocoded 1
media 252
style 252
location 380
tag 1507
dominant_color 7487
dominant_color_family 10
description 902
county 162
city 639
country 161
long 480
lat 480

In [99]:
for col in cols:
    print(col, final[col][:10])
    print('\n')

Unnamed: 0 130    1125
135    1138
141    1157
143    1165
148    1181
151    1334
159    1569
252    1751
256    1800
283    2145
Name: Unnamed: 0, dtype: int64


omni_id 130       3935
135    9006173
141        356
143    9006198
148    9006214
151       1007
159    9006597
252    9006775
256    9006824
283    9007167
Name: omni_id, dtype: int64


artwork_name 130                                                  304
135                                amphora (storage jar)
141                                    homage to bleriot
143                             kantharos (drinking cup)
148                           knob-handled patera (dish)
151                         composition tight curves. 25
159                     violet and silver - the deep sea
252    pair of protomes depicting the forepart of a g...
256                           trefoil oinochoe (pitcher)
283                              sunny morningeight legs
Name: artwork_name, dtype: object


artist_full_name 130       wassily kandinsky
135             ancient greek
141         robert delaunay
143             ancient greek
148             ancient greek
151        carl buchheister
159    james mcneill whistler
252             ancient greek
256             ancient greek
283              lucian freud
Name: artist_full_name, dtype: object


artist_first_name 130    wassily
135    ancient
141     robert
143    ancient
148    ancient
151       carl
159      james
252    ancient
256    ancient
283     lucian
Name: artist_first_name, dtype: object


artist_last_name 130           kandinsky
135               greek
141            delaunay
143               greek
148               greek
151         buchheister
159    mcneill whistler
252               greek
256               greek
283               freud
Name: artist_last_name, dtype: object


date 130    1910
135     530
141    1914
143     300
148     330
151    1925
159    1893
252     625
256     640
283    1997
Name: date, dtype: int64


century 130    20
135     6
141    20
143     4
148     4
151    20
159    19
252     7
256     7
283    20
Name: century, dtype: int64


source_url 130    https://www.wikiart.org/en/wassily-kandinsky/n...
135    http://data-aggregator-lb-v1-1312266121.us-eas...
141    https://www.wikiart.org/en/robert-delaunay/hom...
143    http://data-aggregator-lb-v1-1312266121.us-eas...
148    http://data-aggregator-lb-v1-1312266121.us-eas...
151    https://www.wikiart.org/en/carl-buchheister/co...
159    http://data-aggregator-lb-v1-1312266121.us-eas...
252    http://data-aggregator-lb-v1-1312266121.us-eas...
256    http://data-aggregator-lb-v1-1312266121.us-eas...
283    http://data-aggregator-lb-v1-1312266121.us-eas...
Name: source_url, dtype: object


image_url 130    https://uploads7.wikiart.org/images/wassily-ka...
135    https://lakeimagesweb.artic.edu/iiif/2/885df1e...
141    https://uploads3.wikiart.org/images/robert-del...
143    https://lakeimagesweb.artic.edu/iiif/2/db0ec0b...
148    https://lakeimagesweb.artic.edu/iiif/2/c193023...
151    https://uploads1.wikiart.org/images/carl-buchh...
159    https://lakeimagesweb.artic.edu/iiif/2/eed0bf2...
252    https://lakeimagesweb.artic.edu/iiif/2/26e59e4...
256    https://lakeimagesweb.artic.edu/iiif/2/1e5bb17...
283    https://lakeimagesweb.artic.edu/iiif/2/56ae588...
Name: image_url, dtype: object


general_type 130            painting
135              vessel
141            painting
143     drinking vessel
148              vessel
151            painting
159            painting
252           sculpture
256    pitcher (vessel)
283       oil on canvas
Name: general_type, dtype: object


genre 130                     abstract
135    ancient and byzantine art
141                     abstract
143    ancient and byzantine art
148    ancient and byzantine art
151                     abstract
159                 american art
252    ancient and byzantine art
256    ancient and byzantine art
283             contemporary art
Name: genre, dtype: object


school 130          Unknown
135           athens
141          Unknown
143           apulia
148           puglia
151          Unknown
159    united states
252            samos
256          corinth
283          england
Name: school, dtype: object


palette_families 130    Reds Grays Yellows Greens Blacks
135                 Whites Grays Blacks
141           Reds Grays Yellows Blacks
143                        Whites Grays
148           Reds Grays Yellows Blacks
151         Whites Grays Yellows Blacks
159                               Grays
252                        Grays Blacks
256                        Grays Blacks
283                        Whites Grays
Name: palette_families, dtype: object


palette 130    [u'#cf8f11', u'#a06d24', u'#9a131e', u'#7f8f2f...
135    [u'#f1f1f1', u'#e6e5e4', u'#e3e1df', u'#dfdfdf...
141    [u'#d0a567', u'#6c7767', u'#1e2538', u'#000304...
143    [u'#f9f9f9', u'#dfdfdf', u'#b4b3b2', u'#aba9a6...
148    [u'#e6c7a7', u'#9d9b97', u'#8f9192', u'#706967...
151    [u'#e4d585', u'#282730', u'#1c1d1c', u'#1b1b1a...
159    [u'#787d59', u'#6e7556', u'#6c7d5a', u'#666f52...
252    [u'#98bbac', u'#85938c', u'#6d6d6d', u'#686767...
256    [u'#cdc7c7', u'#cbc5c5', u'#c9c3c3', u'#c8bfc0...
283    [u'#c3ab9c', u'#94877d', u'#8b7b71', u'#594f49...
Name: palette, dtype: object


geocoded 130    f
135    f
141    f
143    f
148    f
151    f
159    f
252    f
256    f
283    f
Name: geocoded, dtype: object


media 130                                              Unknown
135              terracotta, inorganic material, ceramic
141                                              Unknown
143    terracotta, colorant, inorganic material, pigm...
148                       terracotta, inorganic material
151                                              Unknown
159                  oil paint (paint), organic material
252    nonferrous metal, copper alloy, inorganic mate...
256              terracotta, inorganic material, ceramic
283                            oil paint (paint), canvas
Name: media, dtype: object


style 130                  abstract art
135               archaic (greek)
141                       orphism
143                      gnathian
148                       apulian
151                          dada
159                 impressionism
252                 orientalizing
256    corinthian (pottery style)
283                  20th century
Name: style, dtype: object


location 130                                  Unknown
135                              gallery 151
141    kunstmuseum basel, basel, switzerland
143                              gallery 151
148                              gallery 151
151                                  Unknown
159                                  Unknown
252                              gallery 151
256                              gallery 151
283                                  Unknown
Name: location, dtype: object


tag 130                                              Unknown
135    ceramics, terracotta, attic, dining, mythology...
141                                              Unknown
143    drinking vessel, terracotta, gnathian, dining,...
148    terracotta, mythology, apulian, inorganic mate...
151                                              Unknown
159    landscapes, oil paint (paint), modernism, orga...
252    nonferrous metal, copper alloy, orientalizing,...
256    ceramics, terracotta, pitcher (vessel), dogs, ...
283    oil paint (paint), dogs, oil on canvas, men, c...
Name: tag, dtype: object


dominant_color 130    #63232b
135    #040d04
141    #000000
143    #ececec
148    #9d9b97
151    #282730
159    #3f5146
252    #7a7a7a
256    #beb6ba
283    #7b6e66
Name: dominant_color, dtype: object


dominant_color_family 130      Reds
135    Blacks
141    Blacks
143    Whites
148     Grays
151    Blacks
159     Grays
252     Grays
256     Grays
283     Grays
Name: dominant_color_family, dtype: object


description 130                                                  NaN
135    <p>the greek symposium<br>the modern symposium...
141                                                  NaN
143    <p>decorated tableware enlivened festive meals...
148    <p>the circular dish with knobs alongside its ...
151                                                  NaN
159    <p>after years of painting seascapes on a sign...
252    <p>the great holy sites of ancient greece, suc...
256    <p>the seventh century marks the beginning of ...
283    <p>lucian freud subjected the human face and f...
Name: description, dtype: object


county 130    US
135    US
141    US
143    GB
148    US
151    DE
159    US
252    US
256    RU
283    DE
Name: county, dtype: object


city 130     Moscow
135     Athene
141      Paris
143     Athene
148     Athene
151    Hanover
159     Lowell
252     Athene
256     Athene
283     Berlin
Name: city, dtype: object


country 130    US
135    GR
141    US
143    GR
148    GR
151    DE
159    US
252    GR
256    GR
283    DE
Name: country, dtype: object


long 130   -74.7654
135    23.7774
141   -71.3162
143    23.7774
148    23.7774
151   -75.1636
159    26.9282
252    23.7774
256    23.7774
283    37.5654
Name: long, dtype: object


lat 130    46.0105
135    37.9872
141    42.6334
143    37.9872
148    37.9872
151    39.9524
159    46.9249
252    37.9872
256    37.9872
283    55.7431
Name: lat, dtype: object

In [105]:
print(final[2500:2600][['artist_full_name', 'city', 'country']])

               artist_full_name        city country
12177              salvador dal    Figueres      ES
12178       annibale carracci       Bologna      IT
12179               paul bril         Breda      NL
12180               paul bril         Breda      NL
12181               paul bril         Breda      NL
12182               paul bril         Breda      NL
12186               paul bril         Breda      NL
12187               paul bril         Breda      NL
12192       hendrick avercamp     Amsterdam      US
12195               paul bril         Breda      NL
12196       hendrick avercamp     Amsterdam      US
12197     esaias van de velde     Amsterdam      US
12205       hendrick avercamp     Amsterdam      US
12208       hendrick avercamp     Amsterdam      US
12209       hendrick avercamp     Amsterdam      US
12217         jan dirksz both       Utrecht      NL
12219                lan ying      Hangzhou      CN
12221      jacob van ruisdael       Haarlem      NL
12222           nicolaes maes     Dordrecht      NL
12225           salvator rosa        Naples      US
12226    adriaen van de velde     Amsterdam      US
12227      jacob van ruisdael       Haarlem      NL
12228      jacob van ruisdael       Haarlem      NL
12229      jacob van ruisdael       Haarlem      NL
12230         nicolas poussin           NaN      FR
12231         nicolas poussin           NaN      FR
12232         nicolas poussin           NaN      FR
12240        francois boucher         Paris      FR
12241        francois boucher         Paris      FR
12246    claude-joseph vernet       Avignon      FR
...                         ...         ...     ...
12381             john martin        Martin      SK
12383               david cox    Birmingham      US
12390          john constable       Suffolk      US
12392              john crome       Norwich      US
12393              john crome       Norwich      US
12394   charles willson peale      Maryland      US
12401           samuel palmer        London      GB
12402  caspar david friedrich    Greifswald      DE
12407             john martin        Martin      SK
12413   charles willson peale      Maryland      US
12419          john constable       Suffolk      US
12426  caspar david friedrich    Greifswald      DE
12435  caspar david friedrich    Greifswald      DE
12441          john constable       Suffolk      US
12442           karl bryullov    Petersburg      US
12444  caspar david friedrich    Greifswald      DE
12445  caspar david friedrich    Greifswald      DE
12446  caspar david friedrich    Greifswald      DE
12447  caspar david friedrich    Greifswald      DE
12448  caspar david friedrich    Greifswald      DE
12449  caspar david friedrich    Greifswald      DE
12454           camille corot         Paris      US
12455           camille corot         Paris      US
12456             thomas cole        Bolton      GB
12457  caspar david friedrich    Greifswald      DE
12458  caspar david friedrich    Greifswald      DE
12459  caspar david friedrich    Greifswald      DE
12460  caspar david friedrich    Greifswald      DE
12461    johan christian dahl        Bergen      NO
12462           samuel palmer        London      GB

[100 rows x 3 columns]